body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://mcdn.wallpapersafari.com/medium/78/89/ESVjk3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    display: flex;
    flex-direction: column;
}
.cadastro {
    background-color: transparent;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    
}
.cadastro h2 {
    font-size: 15px;
    
}
.cadastro h1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.cadastro input[type="nome"],
.cadastro input[type="email"],
.cadastro input[type="senha"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 2px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
}

